@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body,
footer {
    font-family: poppins;
    max-width: 45%;
    margin: auto;
    background-color: aliceblue;
}

h1 {
    font-size: 2.5em;
    /* text-align: center; */
}

h2 {
    font-size: 1.5em;
    /* text-align: center; */
}

p,li,i {
    font-size: 1.1em;
}

.ai {

    background-color: azure;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    /* background-color: #f8f8f8;   */
}

.genai {

    /* background-color: azure; */
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    background-color: #f8f8f8;
}

.ml {

    background-color: rgb(240, 255, 244);
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    /* background-color: #f8f8f8;   */
}

.conc {

    background-color: rgb(255, 242, 240);
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

footer {
    margin-top: 20px ;
    text-align: center;
}