@media screen and (max-width: 1205px) {
    .container {
        max-width: 990px;
    }

    .nav-toggle {
        display: block;
        margin-right: 20px;
    }

    .language,
    .buy-now,
    .search-bar {
        display: none;
    }

    a .logo1 {
        width: 170px;
    }

    a .logo2 {
        width: 70px;
    }

    .hs1 p {
        font-size: 2.5rem;
    }

    .hs2 p {
        font-size: 22px;
        line-height: 1.4rem;
    }

    .hs2 a {
        font-size: 12px;
        font-weight: 900;
    }

    .download-section {
        max-width: 800px;
    }
}

@media screen and (max-width: 991px) {

    .container {
        max-width: 850px;
    }

    .hero-section {
        gap: 50px;
    }

    .hs1 p {
        font-size: 2rem;
        text-align: center;
    }

    .hs2 p {
        font-size: 20px;
        line-height: 1.8rem;
    }

    .hs2 a {
        margin: 20px auto 0px ;
    }

    .heading img {
        width: 50px;
    }

    .download-section {
        max-width: 700px;
    }
}

@media screen and (max-width: 797px) {
    .nav-links {
        display: none;
    }

    a .logo1 {
        width: 150px;
    }

    .hero-section {
        margin-top: 45px;
    }

    .hs2 p {
        line-height: 1.6rem;
    }

    .heading img {
        width: 35px;
    }

    .heading p {
        font-size: 20px;
    }
    .download {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 479px) {
    .container {
        max-width: 400px;
    }
    .logo img {
        width: 140px;
    }

    a .logo2 {
        width: 80px;
        right: 50px;
    }

    .hs1 p {
        font-size: 1.6rem;
    }

    .hs1 img {
        width: 100px;
        right: 30px;
    }

    .hs2 p {
        line-height: 1.9rem;
    }

    .heading img {
        width: 50px;
    }

    .heading {
        font-size: 0.6rem;
    }

    .heading small {
        position: relative;
        font-size: 10px;
        right: 20px;
    }

    .download {
        grid-template-columns: 1fr;
    }
}